body {
	background-color: rgb(107, 102, 102);
	background-image: url("SUNRISE.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 35% 35%;
	/*background-color:#00BAC7;*/
}

h1 {
	text-align: center;
	font-family: "Calibri";
	color: white;
	background-color: rgba(0,0,0,0.5);
}

h2 {
	text-align: center;
	color: white;
	background-color: rgba(0,0,0,0.5);
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h3 {
	text-align: center;
	color: white;
	background-color: rgba(0,0,0,0.5);
}

p {
	font-size: 12pt;
	line-height: 150%;
	padding:10px;
	/* background-color: rgba(242,242,242,0.8); */
	width: 650px;
	text-align: center;
	margin: auto;
	color: rgb(17, 26, 14);

}

.menu {
	/* text-align: center;
	background-color: blue; */
    font-family: "Calibri";
    font-size:18px;
    padding-top: 15pt;
	
}

.button {
	background-color: #e5e5e5;
	padding: 10px;
	/* border-color: black; */
    transition-duration: 0.4s;
	
}

.button:hover {
	background-color: #bababa;
}



